/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
	--ion-color-primary: #0D98BA;
	--ion-color-primary-rgb: 13,152,186;
	--ion-color-primary-contrast: #FFFFFF;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #0b86a4;
	--ion-color-primary-tint: #25a2c1;

	--ion-font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}
 
ion-toolbar {
    --background: var(--ion-color-primary);
	--color: var(--ion-color-primary-contrast);
}
